/* -------------------------Çoklu Sınıflar Başlangıç------------------------ */
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }

 body{
    font-family: var(--font-family);
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
} 

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

section{
    padding: 120px 0;
}



.section-text{
    line-height: 1.5;
}
.text-align{
    text-align: center;
}
.features-title, .team-title, .portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}
.features-subtitle, .team-subtitle, .portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-ul{
    display: flex;
    gap: 24px;
}
.section-ul:last-child{
    padding-right: 0;
}

.section-ul-wrap{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-two{
    background-color: #f4f4fd;
}

/* -------------------------Çoklu Sınıflar Bitiş------------------------ */


/* -------------------------Özelleştirilmiş Sınıflar Başlangıç------------------------ */

/* ------ Header Alanı Başlangıç -------- */

.header{
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
    display: flex;
}

.header-container{
    display: flex;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-span{
    color:#2e2f42;
}
.nav-menu-ul{
    display: flex;
    gap: 40px;
}
.nav-menu-list{
    padding: 24px 0;
}
.nav-menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address{
    font-style: normal;
  display: flex;
  margin-left: auto;
}
.address-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.address-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.address-link:hover,
.address-link:hover{
    color: #404bbf;
}

.nav-menu-list:nth-of-type(1) .nav-menu-link {
    position: relative;
    color: #404bbf;
  }

.nav-menu-list:nth-of-type(1) .nav-menu-link::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

/* ------ Header Alanı Bitiş -------- */

/* ------- Main Alanı Başlangıç -------- */

/*Hero Kısmı Başlangıç*/
.hero{
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.hero-header{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.button{
    font-weight: 500;
    font-family: var(--font-family);
    font-size:16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color:#FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    margin: 48px auto 0;
    padding: 16px 32px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
    background-color:#404BBF;
}
/*Hero Kısmı Bitiş*/


/*Birinci Kısım Başlangıç*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one-li{
    width: calc((100% - 72px) / 4);
    flex-basis: calc((100% - 72px) / 4);    
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}
/*Birinci Kısım Bitiş*/


/*İkinci (Team) Kısım Başlangıç*/
.team-box{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info{
    padding: 32px 0;
    text-align: center;
}

.section-two .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
  }
  
.section-two .social-list .list-item {
    width: 40px;
    height: 40px;
  }

.section-two .social-list .list-item .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.social-icon {
    fill: #f4f4fd;
  }
  
.section-two .social-list .list-item .social-link:hover,
.section-two .social-list .list-item .social-link:focus {
    background-color: #404bbf;
  }

/*İkinci (Team) Kısım Başlangıç*/


/*Üçüncü (Portfolio) Kısım Kısım Başlangıç*/

.portfolio-wrap{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-li{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-ul .portfolio-li .image-container {
    width: 360px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
  
.section-ul .portfolio-li .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-ul .portfolio-li .image-container .img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.section-ul .portfolio-li:hover .image-container .img-text {
    transform: translateY(0);
}
  /*Üçüncü (Portfolio) Kısım Kısım Başlangıç*/


/* ------- Main Alanı Bitiş -------- */

/* ------- Footer Alanı Başlangıç -------- */
.footer{
    background: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
  }
  
  .footer .sub-container {
    margin-right: 120px;
  }

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span{
    color: #FFFFFF;
}

.footer-text{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer .social-container .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;  
  }
  
  .footer .social-container .social-list{
    display: flex;
    gap: 16px;
  }
  
  .footer .social-container .social-list .list-item {
    width: 40px;
    height: 40px;
  }
  .footer .social-container .social-list .list-item .social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer .social-container .social-list .list-item .social-link:hover, 
  .footer .social-container .social-list .list-item .social-link:focus {
    background-color: #31D0AA;
  }

/* ------- Footer Alanı Bitiş -------- */

/* -------------------------Özelleştirilmiş Sınıflar Bitiş------------------------ */